 /* General Styling */
 .Events {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #000055;
  margin-bottom: 5vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Flexbox for Event Cards */
.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
  padding: 0 2rem;
  gap: 3rem;
  margin-bottom: 15vh;
}

.event-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000006b;
  padding: 2rem;
}

/* Event Image */
.event-image {
  width: 40%;
  height: auto;
  border-radius: 8px;
  border: 3px solid #000055
  ;
}

/* Event Info */
.event-info {
  width: 60%;
}

.event-name {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000055
  ;
}

.event-info p {
  font-size: 1.4vh;
  color: #06063a  ;
  line-height: 1.8vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.event-card:hover{
  scale: 1.03;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
    text-align: center;
  }

  .event-image {
    width: 100%;
  }

  .event-info {
    width: 100%;
  }
  .events-container {
    
    gap: 5rem;
    margin-bottom: 15vh;
  }
}

.eventhead{
  margin-top: 15vh;
  padding-bottom: 5px;
  color: #000055;
  
}