
.mission-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    animation: fadeIn 2s ease-in;
}

.mission-content {
    flex: 1;
    padding: 2vw;
}

.mission-content h1 {
    font-size: 5.5em;
    margin-bottom: 20px;
    color: aliceblue;
}
#vision-h1{
    text-align: right;
}
.mission-content p {
    text-align: justify;
    font-size: 2vh;
    line-height: 1.6;
    color: #D8A8F7;
}

.our-story{
    margin-left: 25vw;
    max-width: 50vw;
    border-top: 1px solid #805ad5;
    border-bottom: 1px solid #805ad5;

}
.mission-collage {
    gap: 10px;
    min-width: 40vw;
    padding: 20px;
}

.mission-grid-item {
    background-color: transparent;
    animation: fadeIn 2s ease-in;
    max-width: 40vw;
}
.mission-grid-item img{
    max-width: 40vw;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-aspect-ratio: 1/1) {
    .mission-container {
        flex-direction: column;
    }


    .mission-grid-item img{
        max-width: 70vw;
    }

    
.mission-collage {
    gap: 10px;
    min-width: 70vw;
    padding: 20px;
}

.our-story{
    margin-left: 5vw;
    max-width: 80vw;
    border-top: 1px solid #805ad5;
    border-bottom: 1px solid #805ad5;

}
}